---
 const personalImageAlt = "Andrés D'Alessandro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Andrés D'Alessandro, un estudiante de Ingeniería en Sistemas en la UTN con experiencia en desarrollo web, frontend y backend <strong
        >aplicando principios SOLID e inteligencia artificial</strong
      >.
    </p>

    <p>
      Entre mis proyectos, destaco la página de comercio electronico One Way, donde <strong> aprendí a trabajar con React a través de la IA y a integrarme con APIs de pagos electricos (Mercado Pago) y de envios (Correo Argentino) en un caso real</strong>.  
    </p>

    <p> 
      Tambíen implementé nuevas funcionalidades y realicé mantenimiento de los sistemas backoffice de NeptuneAds con PHP y Laravel.
    </p>

    <p>
      En lo que más hago foco es en la <strong> lógica de programación</strong>, algo que fuí puliendo a lo largo de mi carrera y mi trabajo. Eso me permite adaptarme a cualquier lenguaje rápidamente, sumado a mi aprendizaje autodidacta y al uso de la IA con un preciso <strong>prompt engineering</strong>.
    </p>


  </div>

  <img width="200" height="200" src="/perfil.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>