<button class="badge-btn">
  <div class="badge-btn__bg">
    <span class="badge-btn__bg__layer badge-btn__bg__layer-first"></span>
    <span class="badge-btn__bg__layer badge-btn__bg__layer-second"></span>
    <span class="badge-btn__bg__layer badge-btn__bg__layer-third"></span>
  </div>

  <span class="badge-btn__text-out"><slot /></span>
  <span class="badge-btn__text-in"><slot /></span>
</button>

<style>
  .badge-btn {
    display: inline-block;
    height: 3.5rem;
    min-width: 13rem;
    padding: 0 1rem;
    position: relative;
    border: none;
    border-radius: 999rem;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    font-family: 'Space Grotesk', system-ui, sans-serif;
  }
  
  @media (min-width: 640px) {
    .badge-btn {
      height: 4rem;
      min-width: 15rem;
    }
  }
  
  .badge-btn:hover .badge-btn__bg {
    scale: 0.94;
  }
  
  .badge-btn:hover .badge-btn__text-out {
    transition: transform 1s cubic-bezier(0.32, 0.99, 0.49, 0.99), opacity 0.4s;
    transform: translateY(-33.333333%);
    opacity: 0;
  }
  
  .badge-btn:hover .badge-btn__text-in {
    transition: 1s all cubic-bezier(0.32, 0.99, 0.49, 0.99);
    transform: translateY(0);
    opacity: 1;
  }
  
  .badge-btn:hover .badge-btn__bg__layer-first,
  .badge-btn:hover .badge-btn__bg__layer-second,
  .badge-btn:hover .badge-btn__bg__layer-third {
    border-radius: 60% 60% 0 0;
    transform: translateY(1rem);
  }
  
  .badge-btn:hover .badge-btn__bg__layer-first {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 200ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 270ms;
  }
  
  .badge-btn:hover .badge-btn__bg__layer-second {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 300ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 470ms;
  }
  
  .badge-btn:hover .badge-btn__bg__layer-third {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 380ms, border-radius 0.2s cubic-bezier(0.19, 1, 0.22, 1) 670ms;
  }
  
  .badge-btn__text-out,
  .badge-btn__text-in {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;
    font-weight: 600;
    font-size: 0.8125rem;
    z-index: 10;
    color: var(--md-on-primary);
    white-space: nowrap;
    padding: 0 0.5rem;
  }
  
  @media (min-width: 640px) {
    .badge-btn__text-out,
    .badge-btn__text-in {
      font-size: 0.9375rem;
      padding: 0;
    }
  }
  
  .badge-btn__text-in {
    opacity: 0;
    transform: translateY(33.333333%);
  }
  
  .badge-btn__bg {
    height: 100%;
    width: 100%;
    transition: scale 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--md-tertiary);
    border-radius: 999rem;
    overflow: hidden;
  }

  .badge-btn__bg__layer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    translate: -50%;
    border-radius: 999rem 999rem 0 0;
    border: none;
    width: 120%;
    height: 200%;
    z-index: 5;
    transform: translateY(100%) translateX(0);
  }

  .badge-btn__bg__layer-first {
    background-color: var(--md-primary);
  }

  .badge-btn__bg__layer-second {
    background-color: var(--md-secondary);
  }

  .badge-btn__bg__layer-third {
    background-color: var(--md-tertiary);
  }
</style>